%h3 CREATE OR UPDATE
.badge
  ="POST /stash"

.row.form-group.top20
  .col-sm-2
    %label.control-label.no-padding-right{:for => "create_tags"} tags:
  .col-md-6
    %input{:type => "text", :name => "create_tags", :class => "text"}
.row.form-group
  .col-md-2
    %label.control-label.no-padding-right{:for => "create_text"} content:
  .col-md-6
    %textarea{:name => "create_text", :class => "textarea"}
.row.form-group
  .col-md-offset-2.col-md-2
    %button.btn.btn-success#create-stash Create
%hr
%h3 GET
.badge
  ="GET /stash"
.row.form-group.top20
  .col-sm-2
    %label.control-label.no-padding-right{:for => "get_tags"} tags:
  .col-md-6
    %input{:type => "text", :name => "get_tags", :class => "text"}
.row.form-group
  .col-md-offset-2.col-md-2
    %button.btn.btn-success#get-stash Get
%hr
%h3 DELETE
.badge
  ="DELETE /stash"
.row.form-group.top20
  .col-sm-2
    %label.control-label.no-padding-right{:for => "delete_tags"} tags:
  .col-md-6
    %input{:type => "text", :name => "delete_tags", :class => "text"}
.row.form-group
  .col-md-offset-2.col-md-2
    %button.btn.btn-danger#delete-stash Delete

%hr
%h3 SIGN UP
.badge
  ="POST /sign_up"
.row.form-group.top20
  .col-sm-2
    %label.control-label.no-padding-right{:for => "signup_email"} Email:
  .col-md-6
    %input{:type => "text", :name => "signup_email", :class => "text"}
.row.form-group
  .col-md-2
    %label.control-label.no-padding-right{:for => "signup_password"} Password:
  .col-md-6
    %input{:type => "password",:name => "signup_password", :class => "textarea"}
.row.form-group
  .col-md-offset-2.col-md-2
    %button.btn.btn-success#signup Sign up!

%hr
%h3 GET TOKEN
.badge
  ="GET /sign_in"
.row.form-group.top20
  .col-sm-2
    %label.control-label.no-padding-right{:for => "signin_email"} Email:
  .col-md-6
    %input{:type => "text", :name => "signin_email", :class => "text"}
.row.form-group
  .col-md-2
    %label.control-label.no-padding-right{:for => "signin_password"} Password:
  .col-md-6
    %input{:type => "password",:name => "signin_password", :class => "textarea"}
.row.form-group
  .col-md-offset-2.col-md-2
    %button.btn.btn-success#signin Get token!
